In [128]:
import pandas as pd
import numpy as np

# Importação e tratamento de dados COVID

In [189]:
df_cv = pd.read_csv('base_covid.csv')

In [190]:
df_cv.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'CÓDIGO MUNICÍPIO IBGE', 'estado',
       'NOME MUNICÍPIO', 'populacaoTCU2019', 'casosNovos', 'obitosNovos',
       'periodo'],
      dtype='object')

In [191]:
df_cv['periodo']=df_cv['periodo'].astype(str)

In [192]:
df_cv.loc[df_cv['NOME MUNICÍPIO']=='ACRELANDIA']

,Unnamed: 0,Unnamed: 0.1,CÓDIGO MUNICÍPIO IBGE,estado,NOME MUNICÍPIO,populacaoTCU2019,casosNovos,obitosNovos,periodo
0,0,0,120001.0,AC,ACRELANDIA,15256.0,0,0,202003
5570,5570,5570,120001.0,AC,ACRELANDIA,15256.0,0,0,202003
11140,11140,11140,120001.0,AC,ACRELANDIA,15256.0,2,0,202003
16710,16710,16710,120001.0,AC,ACRELANDIA,15256.0,4,0,202003
22280,22280,22280,120001.0,AC,ACRELANDIA,15256.0,1,0,202003
...,...,...,...,...,...,...,...,...,...
2033050,2033050,2033050,120001.0,AC,ACRELANDIA,15256.0,18,0,202103
2038620,2038620,2038620,120001.0,AC,ACRELANDIA,15256.0,10,0,202103
2044190,2044190,2044190,120001.0,AC,ACRELANDIA,15256.0,0,1,202103
2049760,2049760,2049760,120001.0,AC,ACRELANDIA,15256.0,0,0,202103
2055330,2055330,2055330,120001.0,AC,ACRELANDIA,15256.0,22,0,202103

In [193]:
df_cvnovo = df_cv.groupby(['NOME MUNICÍPIO','estado','periodo','populacaoTCU2019'],as_index=False).sum(['casosNovos','obitosNovos'])

In [204]:
df_cvnovo.head()

,NOME MUNICÍPIO,estado,periodo,populacaoTCU2019,Unnamed: 0,Unnamed: 0.1,CÓDIGO MUNICÍPIO IBGE,casosNovos,obitosNovos,year,concatenar
0,ABADIA DE GOIAS,GO,202003,8773.0,60110,60110,2600025.0,0,0,2020,202003ABADIA DE GOIASGO
1,ABADIA DE GOIAS,GO,202004,8773.0,3284910,3284910,15600150.0,0,0,2020,202004ABADIA DE GOIASGO
2,ABADIA DE GOIAS,GO,202005,8773.0,8660842,8660842,16120155.0,6,0,2020,202005ABADIA DE GOIASGO
3,ABADIA DE GOIAS,GO,202006,8773.0,13478010,13478010,15600150.0,32,0,2020,202006ABADIA DE GOIASGO
4,ABADIA DE GOIAS,GO,202007,8773.0,19193712,19193712,16120155.0,135,1,2020,202007ABADIA DE GOIASGO

In [203]:
df_cvnovo['year']=df_cvnovo['periodo'].apply(lambda x: str(x)[:4])
df_cvnovo['concatenar']=df_cvnovo['periodo']+df_cvnovo['NOME MUNICÍPIO']+df_cvnovo['estado']

In [196]:
df_cvnovo = df_cvnovo.loc[df_cvnovo['year']=='2020']

In [210]:
df_cvnovo.columns

Index(['NOME MUNICÍPIO', 'estado', 'periodo', 'populacaoTCU2019', 'Unnamed: 0',
       'Unnamed: 0.1', 'CÓDIGO MUNICÍPIO IBGE', 'casosNovos', 'obitosNovos',
       'year', 'concatenar'],
      dtype='object')

In [224]:
df_cvnovo['populacaoTCU2019']=df_cvnovo['populacaoTCU2019'].astype(int)

In [225]:
df_cvnovo = df_cvnovo[['NOME MUNICÍPIO', 'estado', 'periodo', 'populacaoTCU2019','CÓDIGO MUNICÍPIO IBGE', 'casosNovos', 'obitosNovos',
       'year', 'concatenar']]

# Tratamento de dados Base Auxilio

In [179]:
df_auxilio = pd.read_csv('base_auxilio.csv')
df_auxilio.head()

,Unnamed: 0,Unnamed: 0.1,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,0,0,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Não há,1ª,2551200.0,3906
1,1,3,1100023.0,RO,ARIQUEMES,202004,Não há,1ª,12250800.0,17786
2,2,6,1100031.0,RO,CABIXI,202004,Não há,1ª,592200.0,884
3,3,9,1100049.0,RO,CACOAL,202004,Não há,1ª,8876400.0,13254
4,4,12,1100056.0,RO,CEREJEIRAS,202004,Não há,1ª,1992000.0,2987

In [180]:
df_novo = df_auxilio.groupby(['NOME MUNICÍPIO','UF','MÊS DISPONIBILIZAÇÃO'],as_index=False).sum()

In [181]:
df_novo['MÊS DISPONIBILIZAÇÃO']=df_novo['MÊS DISPONIBILIZAÇÃO'].astype(str)

In [206]:
df_novo.head()

,NOME MUNICÍPIO,UF,MÊS DISPONIBILIZAÇÃO,Unnamed: 0,Unnamed: 0.1,CÓDIGO MUNICÍPIO IBGE,soma_valor_beneficio,count_valor_beneficio,concatenar
0,ABADIA DE GOIAS,GO,202004,5323,15561,5200050.0,1772400.0,2570,202004ABADIA DE GOIASGO
1,ABADIA DE GOIAS,GO,202005,32433,59955,10400100.0,2474400.0,3662,202005ABADIA DE GOIASGO
2,ABADIA DE GOIAS,GO,202006,98040,114315,15600150.0,1170600.0,1760,202006ABADIA DE GOIASGO
3,ABADIA DE GOIAS,GO,202007,218862,203242,20800200.0,2624400.0,3887,202007ABADIA DE GOIASGO
4,ABADIA DE GOIAS,GO,202008,411585,291875,26000250.0,2253000.0,3341,202008ABADIA DE GOIASGO

In [183]:
df_novo.loc[df_novo['NOME MUNICÍPIO']=='BELEM']

,NOME MUNICÍPIO,UF,MÊS DISPONIBILIZAÇÃO,Unnamed: 0,Unnamed: 0.1,CÓDIGO MUNICÍPIO IBGE,soma_valor_beneficio,count_valor_beneficio
5211,BELEM,AL,202004,1657,4829,2700805.0,439200.0,700
5212,BELEM,AL,202005,17769,18391,5401610.0,526800.0,841
5213,BELEM,AL,202006,65046,33726,8102415.0,183000.0,294
5214,BELEM,AL,202007,160198,61114,10803220.0,539400.0,857
5215,BELEM,AL,202008,319935,86800,13504025.0,433800.0,686
5216,BELEM,AL,202009,560379,99741,16204830.0,535800.0,879
5217,BELEM,AL,202010,897526,97461,18905635.0,294900.0,788
5218,BELEM,AL,202011,1347340,114044,21606440.0,429000.0,1264
5219,BELEM,AL,202012,1922499,141714,24307245.0,408000.0,1255
5220,BELEM,PA,202004,169,501,1501402.0,166056000.0,249386
5221,BELEM,PA,202005,11817,1919,3002804.0,212049000.0,321490
5222,BELEM,PA,202006,51654,3573,4504206.0,92288400.0,140763
5223,BELEM,PA,202007,136390,6386,6005608.0,225002400.0,341288
5224,BELEM,PA,202008,282745,9175,7507010.0,190923000.0,289953
5225,BELEM,PA,202009,507381,10743,9008412.0,239793000.0,374559
5226,BELEM,PA,202010,825755,11200,10509814.0,142821300.0,331344
5227,BELEM,PA,202011,1254068,12580,12011216.0,196377000.0,526439
5228,BELEM,PA,202012,1807992,15174,13512618.0,178456800.0,525173
5229,BELEM,PB,202004,1268,3674,2501906.0,1384800.0,2180
5230,BELEM,PB,202005,16213,13963,5003812.0,1690200.0,2667
5231,BELEM,PB,202006,61545,25536,7505718.0,700200.0,1108
5232,BELEM,PB,202007,153974,46342,10007624.0,1750200.0,2763
5233,BELEM,PB,202008,310220,66225,12509530.0,1386600.0,2191
5234,BELEM,PB,202009,546471,76005,15011436.0,1804200.0,2947
5235,BELEM,PB,202010,878675,74599,17513342.0,1030200.0,2646
5236,BELEM,PB,202011,1322876,87340,20015248.0,1509600.0,4373
5237,BELEM,PB,202012,1682148,95948,20015248.0,1344900.0,4174

In [152]:
df_novo.columns

Index(['NOME MUNICÍPIO', 'UF', 'MÊS DISPONIBILIZAÇÃO', 'Unnamed: 0',
       'Unnamed: 0.1', 'CÓDIGO MUNICÍPIO IBGE', 'soma_valor_beneficio',
       'count_valor_beneficio'],
      dtype='object')

In [217]:
df_novo['concatenar']=df_novo['MÊS DISPONIBILIZAÇÃO']+df_novo['NOME MUNICÍPIO']+df_novo['UF']

In [218]:
df_novo= df_novo[['NOME MUNICÍPIO', 'UF', 'MÊS DISPONIBILIZAÇÃO','CÓDIGO MUNICÍPIO IBGE', 'soma_valor_beneficio',
       'count_valor_beneficio','concatenar']]

In [220]:
df_novo.head()

,NOME MUNICÍPIO,UF,MÊS DISPONIBILIZAÇÃO,CÓDIGO MUNICÍPIO IBGE,soma_valor_beneficio,count_valor_beneficio,concatenar
0,ABADIA DE GOIAS,GO,202004,5200050.0,1772400.0,2570,202004ABADIA DE GOIASGO
1,ABADIA DE GOIAS,GO,202005,10400100.0,2474400.0,3662,202005ABADIA DE GOIASGO
2,ABADIA DE GOIAS,GO,202006,15600150.0,1170600.0,1760,202006ABADIA DE GOIASGO
3,ABADIA DE GOIAS,GO,202007,20800200.0,2624400.0,3887,202007ABADIA DE GOIASGO
4,ABADIA DE GOIAS,GO,202008,26000250.0,2253000.0,3341,202008ABADIA DE GOIASGO

In [222]:
df_novo['soma_valor_beneficio']=df_novo['soma_valor_beneficio'].astype(int)

In [226]:
df_novo.to_csv('Base_aux_final.csv',sep=";")
df_cvnovo.to_csv('Base_cvfinal.csv',sep=";")

# Mesclando Data Frame COVID e de Auxilio Emergencial

In [198]:
df = pd.merge (df_novo,df_cvnovo, left_on=['MÊS DISPONIBILIZAÇÃO','NOME MUNICÍPIO'], right_on=['periodo','NOME MUNICÍPIO'],how='left')

In [199]:
df.head()

,NOME MUNICÍPIO,UF,MÊS DISPONIBILIZAÇÃO,Unnamed: 0_x,Unnamed: 0.1_x,CÓDIGO MUNICÍPIO IBGE_x,soma_valor_beneficio,count_valor_beneficio,estado,periodo,populacaoTCU2019,Unnamed: 0_y,Unnamed: 0.1_y,CÓDIGO MUNICÍPIO IBGE_y,casosNovos,obitosNovos,year
0,ABADIA DE GOIAS,GO,202004,5323,15561,5200050.0,1772400.0,2570,GO,202004,8773.0,3284910.0,3284910.0,15600150.0,0.0,0.0,2020
1,ABADIA DE GOIAS,GO,202005,32433,59955,10400100.0,2474400.0,3662,GO,202005,8773.0,8660842.0,8660842.0,16120155.0,6.0,0.0,2020
2,ABADIA DE GOIAS,GO,202006,98040,114315,15600150.0,1170600.0,1760,GO,202006,8773.0,13478010.0,13478010.0,15600150.0,32.0,0.0,2020
3,ABADIA DE GOIAS,GO,202007,218862,203242,20800200.0,2624400.0,3887,GO,202007,8773.0,19193712.0,19193712.0,16120155.0,135.0,1.0,2020
4,ABADIA DE GOIAS,GO,202008,411585,291875,26000250.0,2253000.0,3341,GO,202008,8773.0,24546482.0,24546482.0,16120155.0,228.0,2.0,2020

In [168]:
df.columns

Index(['NOME MUNICÍPIO', 'UF', 'MÊS DISPONIBILIZAÇÃO',
       'CÓDIGO MUNICÍPIO IBGE_x', 'soma_valor_beneficio',
       'count_valor_beneficio', 'estado', 'periodo', 'populacaoTCU2019',
       'Unnamed: 0', 'Unnamed: 0.1', 'CÓDIGO MUNICÍPIO IBGE_y', 'casosNovos',
       'obitosNovos', 'year'],
      dtype='object')

In [169]:
df= df[['NOME MUNICÍPIO', 'UF','MÊS DISPONIBILIZAÇÃO', 'CÓDIGO MUNICÍPIO IBGE_x', 'soma_valor_beneficio',
       'count_valor_beneficio', 'periodo', 'populacaoTCU2019','CÓDIGO MUNICÍPIO IBGE_y', 'casosNovos',
       'obitosNovos']]

In [170]:
df.head()

,NOME MUNICÍPIO,UF,MÊS DISPONIBILIZAÇÃO,CÓDIGO MUNICÍPIO IBGE_x,soma_valor_beneficio,count_valor_beneficio,periodo,populacaoTCU2019,CÓDIGO MUNICÍPIO IBGE_y,casosNovos,obitosNovos
0,ABADIA DE GOIAS,GO,202004,5200050.0,1772400.0,2570,NaN,NaN,NaN,NaN,NaN
1,ABADIA DE GOIAS,GO,202005,10400100.0,2474400.0,3662,NaN,NaN,NaN,NaN,NaN
2,ABADIA DE GOIAS,GO,202006,15600150.0,1170600.0,1760,NaN,NaN,NaN,NaN,NaN
3,ABADIA DE GOIAS,GO,202007,20800200.0,2624400.0,3887,NaN,NaN,NaN,NaN,NaN
4,ABADIA DE GOIAS,GO,202008,26000250.0,2253000.0,3341,NaN,NaN,NaN,NaN,NaN

In [171]:
df['ben_populacao'] = df['count_valor_beneficio']/df['populacaoTCU2019'] 
df['percapita'] = df['soma_valor_beneficio']/df['populacaoTCU2019']

In [172]:
df['soma_valor_beneficio']=df['soma_valor_beneficio'].astype(int)

In [173]:
df['year']=df['periodo'].apply(lambda x: str(x)[:4])

In [174]:
df['mes']=df['periodo'].apply(lambda x: str(x)[-2:])

In [162]:
df['mes']=df['mes'].astype(str)

In [163]:
df.head()

,NOME MUNICÍPIO,UF,MÊS DISPONIBILIZAÇÃO,CÓDIGO MUNICÍPIO IBGE_x,soma_valor_beneficio,count_valor_beneficio,periodo,populacaoTCU2019,CÓDIGO MUNICÍPIO IBGE_y,casosNovos,obitosNovos,ben_populacao,percapita,year,mes
0,ABADIA DE GOIAS,GO,202004,5200050.0,1772400,2570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,an
1,ABADIA DE GOIAS,GO,202005,10400100.0,2474400,3662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,an
2,ABADIA DE GOIAS,GO,202006,15600150.0,1170600,1760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,an
3,ABADIA DE GOIAS,GO,202007,20800200.0,2624400,3887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,an
4,ABADIA DE GOIAS,GO,202008,26000250.0,2253000,3341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,an

In [164]:
df['percapita']=df['percapita'].astype(str)

In [110]:
df['percapita'] = df['percapita'].apply(lambda x: x.replace('.',',') )

In [113]:
df['ben_populacao']=df['ben_populacao'].astype(str)

In [114]:
df['ben_populacao'] = df['ben_populacao'].apply(lambda x: x.replace('.',',') )

In [117]:
df['casosNovos']=df['casosNovos'].astype(str)

In [118]:
df['casosNovos']=df['casosNovos'].apply(lambda x: x.replace('.',',') )

In [119]:
df['populacaoTCU2019']=df['populacaoTCU2019'].astype(str)

In [120]:
df['populacaoTCU2019']=df['populacaoTCU2019'].apply(lambda x: x.replace('.',',') )

In [122]:
df['obitosNovos']=df['obitosNovos'].astype(str)

In [123]:
df['obitosNovos']=df['obitosNovos'].apply(lambda x: x.replace('.',',') )

In [125]:
df.head()

,NOME MUNICÍPIO,UF,MÊS DISPONIBILIZAÇÃO,CÓDIGO MUNICÍPIO IBGE_x,soma_valor_beneficio,count_valor_beneficio,periodo,populacaoTCU2019,CÓDIGO MUNICÍPIO IBGE_y,casosNovos,obitosNovos,ben_populacao,percapita,mes,year
0,ABADIA DE GOIAS,GO,202004,5200050.0,1772400,2570,202004,"8773,0",15600150.0,"0,0","0,0","0,2929442608001824","202,02895246779892",04,2020
1,ABADIA DE GOIAS,GO,202005,10400100.0,2474400,3662,202005,"8773,0",16120155.0,"6,0","0,0","0,41741707511683573","282,0471902427904",05,2020
2,ABADIA DE GOIAS,GO,202006,15600150.0,1170600,1760,202006,"8773,0",15600150.0,"32,0","0,0","0,20061552490596146","133,4321212812037",06,2020
3,ABADIA DE GOIAS,GO,202007,20800200.0,2624400,3887,202007,"8773,0",16120155.0,"135,0","1,0","0,44306394619856376","299,14510429727574",07,2020
4,ABADIA DE GOIAS,GO,202008,26000250.0,2253000,3341,202008,"8773,0",16120155.0,"228,0","2,0","0,3808275390402371","256,81066909837",08,2020

## Exportando base final

In [200]:
df.loc[df['NOME MUNICÍPIO']=='BELEM']

,NOME MUNICÍPIO,UF,MÊS DISPONIBILIZAÇÃO,Unnamed: 0_x,Unnamed: 0.1_x,CÓDIGO MUNICÍPIO IBGE_x,soma_valor_beneficio,count_valor_beneficio,estado,periodo,populacaoTCU2019,Unnamed: 0_y,Unnamed: 0.1_y,CÓDIGO MUNICÍPIO IBGE_y,casosNovos,obitosNovos,year
5715,BELEM,AL,202004,1657,4829,2700805.0,439200.0,700,AL,202004,4344.0,3259320.0,3259320.0,8102400.0,0.0,0.0,2020
5716,BELEM,AL,202004,1657,4829,2700805.0,439200.0,700,PA,202004,1492745.0,3331530.0,3331530.0,4504200.0,1584.0,129.0,2020
5717,BELEM,AL,202004,1657,4829,2700805.0,439200.0,700,PB,202004,17676.0,3336090.0,3336090.0,7505700.0,0.0,0.0,2020
5718,BELEM,AL,202005,17769,18391,5401610.0,526800.0,841,AL,202005,4344.0,8634399.0,8634399.0,8372480.0,2.0,1.0,2020
5719,BELEM,AL,202005,17769,18391,5401610.0,526800.0,841,PA,202005,1492745.0,8709016.0,8709016.0,4654340.0,9986.0,1191.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5791,BELEM,PB,202011,1322876,87340,20015248.0,1509600.0,4373,PA,202011,1492745.0,39090930.0,39090930.0,4504200.0,5864.0,65.0,2020
5792,BELEM,PB,202011,1322876,87340,20015248.0,1509600.0,4373,PB,202011,17676.0,39095490.0,39095490.0,7505700.0,11.0,2.0,2020
5793,BELEM,PB,202012,1682148,95948,20015248.0,1344900.0,4174,AL,202012,4344.0,45585779.0,45585779.0,8372480.0,10.0,1.0,2020
5794,BELEM,PB,202012,1682148,95948,20015248.0,1344900.0,4174,PA,202012,1492745.0,45660396.0,45660396.0,4654340.0,6261.0,130.0,2020
5795,BELEM,PB,202012,1682148,95948,20015248.0,1344900.0,4174,PB,202012,17676.0,45665108.0,45665108.0,7755890.0,46.0,0.0,2020

In [126]:
df.to_csv('Base_final.csv',sep=";")